<div class="bg bg-light p-2">
    <div class="container-fluid">
        <div class="d-flex justify-content-between mb-2">
            <div class="col-left">
                <div class="d-flex">
                    <div class="m-2">
                        <button (click)="showProducts()" class="btn btn-sm btn-outline-info ">All products</button>
                    </div>
                    <div class="m-2">
                        <button (click)="availableProduct()" class="btn  btn-sm btn-outline-info ">Available products</button>
                    </div>
                    <div class="m-2">
                        <button (click)="unavailableProduct()" class="btn  btn-sm btn-outline-info ">Unavailable products</button>
                    </div>
                    <div class="m-2">
                        <button routerLink="/add-product" class="btn  btn-sm btn-outline-warning ">Add product</button>
                    </div>
                </div>
            </div>
            <div class="col-left">
                <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                    <div class="d-flex">
                        <input ngModel name="keyword" type="text" class="form-control" required>
                        <button class="btn btn-info btn-sm w-25" style="margin-left: 10px;">
                          <i class="fa fa-search"></i>
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="message">
    <div class="row">
        <div class="col-10 offset-1">
            <p>
                <ngb-alert type="info" (closed)="message" style="margin-top: 20px;">
                    <span>{{message}}</span>
                </ngb-alert>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="products">
    <div class=" col-8 offset-2 mt-4 ">
        <div class="card ">
            <div class="card-body ">
                <h4 class="fw-bold mb-3">products</h4>
                <table class="table  table-responsive-lg table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">price</th>
                            <th scope="col">date</th>
                            <th scope="col">status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of products | slice: (page-1) * pageSize : page * pageSize let i = index;">
                            <th scope="row"> {{i+1}}</th>
                            <td>{{element.name}}</td>
                            <td> {{element.price}}</td>
                            <td> {{element.created_at | date:'MM/dd/yyyy'}}</td>
                            <td>

                                <button (click)="onSelect(element)" [ngClass]="element.status ?'btn btn-sm  btn-success':'btn btn-sm  btn-secondary' " class="">
                                   <span  *ngIf="element.status"> available</span>
                                   <span *ngIf="!element.status ">unavailable </span>
                                </button>
                            </td>
                            <td [width]="100">
                                <a (click)="onEdit(element)" class="btn btn-sm btn-primary ">
                                    <i class="fa fa-edit "></i>
                                </a>
                                <a (click)="ondeleteProduct(element)" class="btn btn-sm btn-danger " style="margin-left: 10px;">
                                    <i class="fa fa-trash-o "></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination [(page)]="page " [pageSize]="pageSize " [collectionSize]="products.length "></ngb-pagination>
            </div>
        </div>
    </div>
</div>
