<div class="container-fluid" *ngIf="products">
    <div class=" col-8 offset-2 mt-4 ">
        <div class="card ">
            <div class="card-body ">
                <h4 class="fw-bold mb-3">products</h4>
                <table class="table  table-borderless table-responsive-lg ">
                    <thead>
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Name</th>
                            <th scope="col">price</th>
                            <th scope="col">date</th>
                            <th scope="col">status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-products-item style="display:contents" (ProductEventEmitter)="onAction($event)" [element]="element" [i]="i" *ngFor="let element of products | slice: (page-1) * pageSize : page * pageSize let i = index;"></app-products-item>
                    </tbody>
                </table>
                <ngb-pagination [(page)]="page" [pageSize]="pageSize " [collectionSize]="products.length "></ngb-pagination>
            </div>
        </div>
    </div>
</div>